.Matches{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#matches-title{
    font-size: 2rem;
    font-weight: bold;
}

#round-container{
}

table{
    table-layout: auto;
    text-align: center;
}
