#matches-container{
    border-radius: 15px;
    width: 500px;
    height: 400px;
    gap: 4px;

    border: 1px solid white;
    box-shadow: 3px 0 20px 0 #003f00;
    border-radius: 10px;
}
#matches-table{
    width: 350px;
}